version: 2
jobs:
  build:
    docker:
      - image: quay.io/jgaswer/hio:latest 
    parallelism: 15
    steps:
      - checkout
      - setup_remote_docker
      - run: git clone https://github.com/jgaswer/kon.git