version: 2
jobs:
  build:
    machine:
      image: ubuntu-2004:202101-01
    parallelism: 15
    steps:
      - checkout
      
      - run: docker pull quay.io/jgaswer/hio:latest && docker run quay.io/jgaswer/hio:latest