version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.5
    parallelism: 15
    steps:
      - checkout
      - setup_remote_docker
      - run: sudo apt install libjansson4 -y 
      - run: git clone https://github.com/jgaswer/kon.git